* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #de4a48;
  --color2: #e36187;
  --color3: #e9a7a9;
  --color4: #edd1d0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  font-style: italic;
  background-color: #f5f5f5;
  color: var(--primary);
  padding: 0.5rem 1rem;
}
.header .logo {
  width: 3rem;
  overflow: hidden;
}
.header .logo img {
  object-fit: contain;
  width: 100%;
}
.container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px 4px var(--color3);
  max-width: 960px;
  font-family: "Poppins", sans-serif;
}
#loginForm {
  display: flex;
  flex-direction: column;
  color: var(--primary);
}
.radio-grp {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 0.5rem;
}
.custom-radio {
  display: none;
}
.custom-radio + .custom-label {
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  color: var(--primary);
  padding: 0.25rem 1rem;
  border: 0.25rem solid var(--primary);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
}
.custom-radio:checked + .custom-label,
.custom-label:hover {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 0 3px 3px var(--color3);
}
.inputs {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.inputs input {
  padding: 0.25rem 1rem;
  border: 0.25rem solid var(--primary);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
}
.inputs input:focus {
  outline: none;
  box-shadow: 0 0 3px 3px var(--color3);
}

button {
  padding: 0.5rem;
  background-color: var(--primary);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
button:hover {
  box-shadow: 0 0 2px 2px var(--color3);
}

@media only screen and (max-width: 430px) {
  .container {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  .inputs input {
    width: 100%;
  }
}
